body {
    background-color: #fff;
}

.bg-vm,
.bg-whyus,
.bg-customer {
    background-color: #fff;
}

.nav-p {
    color: #fff;
    font-weight: 600 !important;
}

@media (min-width:769px) {
    .heroes {
        background-color: #fff;
    }

    .container-vector-icon {
        justify-content: center;
        display: flex;
        /* Make it a flex container */
        justify-content: center;
        /* Center its children horizontally */
        align-items: center;
        /* Center its children vertically (optional) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 125px 0px 0px 420px;
    }

    .heroes-img {
        width: 700px;
    }

    .heroes-title {
        font-weight: 600;
        color: #fff;
        line-height: 1.1;
        font-size: 64px;

    }

    .heroes-text {
        font-weight: 600;
        color: #fff;
        line-height: 0.8;
        font-size: 36px;
    }

    .heroes-text-p {
        font-weight: 500;
        color: #fff;
        line-height: 1.1;
        font-size: 18px;
    }

    .vector-icon-pertanian {

        width: 60px;
        margin-left: 100px;
    }

    .vector-icon-perkebunan {
        margin-top: 15px;
        width: 70px;
        margin-left: 150px;
    }

    .vector-icon-industri {

        width: 60px;
        margin-left: 150px;
    }

    .vector-icon-perdagangan {
        /* margin-top: 300px !important; */
        width: 70px;
        margin-left: 150px;
    }


    .vector-icon-energi {
        /* margin-top: 300px !important; */
        width: 60px;
        margin-left: 150px;
    }

}
@media (min-width:390px) and (max-width: 411px)  {
    .container-vector-icon {
        display: flex;
        justify-content: center;

        /* Center its children horizontally */
        align-items: center;
        /* Center its children vertically (optional) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        /* margin-top: 50px; */

        margin: 320px 0px 0px 90px !important;
    }

    .heroes-img {
        width: 300px !important;

    }

    .heroes-title {
        font-weight: 600;
        color: #fff;
        line-height: 1.1;
        font-size: 35px;

    }

    .heroes-text {
        font-weight: 600;
        color: #fff;
        line-height: 0.8;
        font-size: 20px;

        align-items: justify !important;
        justify-content: center !important;
    }

    .heroes-text-p {
        font-weight: 500;
        color: #fff;
        line-height: 1.1;
        font-size: 15px;
        align-items: justify !important;
        justify-content: center !important;

    }
    .vector-icon {
        margin-top: 290px !important;
        width: 500px !important;

    }

    .vector-icon-pertanian {

        width: 23px;
        margin-left: 70px;
    }

    .vector-icon-perkebunan {

        width: 28px;
        margin-left: 30px;
    }

    .vector-icon-industri {

        width: 23px;
        margin-left: 30px;
    }

    .vector-icon-perdagangan {
        /* margin-top: 300px !important; */
        width: 30px;
        margin-left: 30px;
    }


    .vector-icon-energi {
        /* margin-top: 300px !important; */
        width: 23px;
        margin-left: 30px;
    }
    .container-ceo {
        line-height: 0.8;
    }

    .ceo-title h1 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .ceo-title span {
        color: #3A2D80;
    }

    .ceo-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .ceo-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }
    
    .ceo-sambutan img {
        width: 390px !important;
    }
    .profile-title h1 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .profile-title span {
        color: #3A2D80;
    }

    .profile-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .profile-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }
    
    .bg-sambutan {
        width: 390px !important;
        height: 245px !important;
        position: absolute;

    }
    .cont-item-sambutan {

        color: #f5f5f5;
    }

    .item-sambutan-text {

        height: 230px;
        margin-left: 9px;
        max-width: 300px;
        position: relative;
        align-items: justify;
    }

    .item-sambutan-text-mar {
        font-size: 9px;
        font-weight: bold;
        margin-left: 25px;

    }

    .item-sambutan-text-jab {
        margin-top: 4px;
        font-size: 8px;
        font-weight: bold;
        margin-left: 25px;

    }

    .item-sambutan-text-com {
        margin-top: 4px;
        margin-bottom: 3px;
        font-size: 7px;
        margin-left: 10px;

    }

    .item-sambutan-text p{
        margin-top: 5px;
        font-size:6px;
    }

    .par-satu {
        font-size: 6.8px;
        margin-bottom: 3px;
        text-align: justify;
        line-height: 1.3;

    }

    .item-sambutan-img {
        /* padding: 2px; */
        /* background-color: #E48600; */
        width: 740px;
        position: relative;
    } 
    .youtube-video iframe {
        width: 368px !important;
        height: 340px !important;
        border-radius: 20px;
    }
    .riau img {
        /* style={{ width: 18, position: "absolute", marginTop: 278, marginLeft: 180 }} */
        width: 6px;
        position: absolute;
        margin-top: 148px;
        margin-left: 60px;
    }

    .lampung img {
        /* style={{ width: 18, position: "absolute", marginTop: 358, marginLeft: 232 }} */
        width: 6px;
        position: absolute;
        margin-top: 176px;
        margin-left: 80px;
    }

    .jawa-barat img {
        width: 6px;
        position: absolute;
        margin-top: 194px;
        margin-left: 102px;
    }

    .jawa-tengah img {
        width: 6px;
        position: absolute;
        margin-top: 197px;
        margin-left: 120px;
    }

    .jawa-timur img {
        width: 6px;
        position: absolute;
        margin-top: 200px;
        margin-left: 140px;
    }

    .kalimantan-tengah img {
        width: 6px;
        position: absolute;
        margin-top: 155px;
        margin-left: 146px;
    }

    .sulawesi-tengah img {
        width: 6px;
        position: absolute;
        margin-top: 148px;
        margin-left: 220px;
    }

    .papua-barat img {
        width: 6px;
        position: absolute;
        margin-top: 146px;
        margin-left: 316px;
    }
    .news {
        margin-top: auto;
    }

    .poster-news img {
        margin-left: 64px;
        justify-content: center;

        width: 250px;
        /* margin: 0; */
    }
    
}

@media (min-width:412px) and (max-width: 769px) {
    .container-vector-icon {
        display: flex;
        justify-content: center;

        /* Center its children horizontally */
        align-items: center;
        /* Center its children vertically (optional) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        /* margin-top: 50px; */

        margin: 378px 0px 0px 10px;
    }

    .heroes-img {
        width: 300px !important;

    }
    .heroes-title {
        font-weight: 600;
        color: #fff;
        line-height: 1.1;
        font-size: 35px;
    }

    .heroes-text {
        font-weight: 600;
        color: #fff;
        line-height: 0.8;
        font-size: 20px;
        align-items: justify !important;
        justify-content: center !important;
    }

    .heroes-text-p {
        font-weight: 500;
        color: #fff;
        line-height: 1.1;
        font-size: 15px;
        align-items: justify !important;
        justify-content: center !important;

    }
    .vector-icon {
        margin-top: 340px !important;
        width: 412px !important;
        height: 77px !important;

    }

    .vector-icon-pertanian {

        width: 23px;
        margin-left: 70px;
    }

    .vector-icon-perkebunan {

        width: 28px;
        margin-left: 30px;
    }

    .vector-icon-industri {

        width: 23px;
        margin-left: 30px;
    }

    .vector-icon-perdagangan {
        /* margin-top: 300px !important; */
        width: 30px;
        margin-left: 30px;
    }


    .vector-icon-energi {
        /* margin-top: 300px !important; */
        width: 23px;
        margin-left: 30px;
    }
    .container-ceo {
        line-height: 0.8;
    }

    .ceo-title h1 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .ceo-title span {
        color: #3A2D80;
    }

    .ceo-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .ceo-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }
    .profile-title h1 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .profile-title span {
        color: #3A2D80;
    }

    .profile-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .profile-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }
    
    
    .ceo-sambutan img {
        width: 412px !important;
    }
    
    .bg-sambutan {
        width: 412px !important;
        position: absolute;

    }
    .cont-item-sambutan {

        color: #f5f5f5;
    }

    .item-sambutan-text {

        height: 230px;
        margin-left: 9px;
        max-width: 300px;
        position: relative;
        align-items: justify;
    }

    .item-sambutan-text-mar {
        font-size: 9px;
        font-weight: bold;
        margin-left: 25px;

    }

    .item-sambutan-text-jab {
        margin-top: 4px;
        font-size: 8px;
        font-weight: bold;
        margin-left: 25px;

    }

    .item-sambutan-text-com {
        margin-top: 4px;
        margin-bottom: 3px;
        font-size: 7px;
        margin-left: 10px;

    }

    .item-sambutan-text p{
        margin-top: 5px;
        font-size:6px;
    }

    .par-satu {
        font-size: 7px;
        margin-bottom: 3px;
        text-align: justify;
        line-height: 1.3;

    }

    .item-sambutan-img {
        /* padding: 2px; */
        /* background-color: #E48600; */
        width: 740px;
        position: relative;
    }   
    .youtube-video iframe {
        width: 386px !important;
        height: 340px !important;
        border-radius: 20px;
    }
    .riau img {
        /* style={{ width: 18, position: "absolute", marginTop: 278, marginLeft: 180 }} */
        width: 6px;
        position: absolute;
        margin-top: 148px;
        margin-left: 60px;
    }

    .lampung img {
        /* style={{ width: 18, position: "absolute", marginTop: 358, marginLeft: 232 }} */
        width: 6px;
        position: absolute;
        margin-top: 176px;
        margin-left: 80px;
    }

    .jawa-barat img {
        width: 6px;
        position: absolute;
        margin-top: 194px;
        margin-left: 102px;
    }

    .jawa-tengah img {
        width: 6px;
        position: absolute;
        margin-top: 197px;
        margin-left: 120px;
    }

    .jawa-timur img {
        width: 6px;
        position: absolute;
        margin-top: 200px;
        margin-left: 140px;
    }

    .kalimantan-tengah img {
        width: 6px;
        position: absolute;
        margin-top: 155px;
        margin-left: 146px;
    }

    .sulawesi-tengah img {
        width: 6px;
        position: absolute;
        margin-top: 148px;
        margin-left: 220px;
    }

    .papua-barat img {
        width: 6px;
        position: absolute;
        margin-top: 146px;
        margin-left: 316px;
    }
    .news {
        margin-top: auto;
    }

    .poster-news img {
        margin-left: 64px;
        justify-content: center;

        width: 250px;
        /* margin: 0; */
    }
    
}

@media (min-width:360px) and (max-width:389px) {
    /* .heroes {
        background-color: #fff;
    } */

    .container-vector-icon {
        display: flex;
        justify-content: center;

        /* Center its children horizontally */
        align-items: center;
        /* Center its children vertically (optional) */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        /* margin-top: 50px; */

        margin: 220px 0px 0px 50px;
    }

    .heroes-img {
        width: 300px !important;

    }

    .heroes-title {
        font-weight: 600;
        color: #fff;
        line-height: 1.1;
        font-size: 35px;

    }

    .heroes-text {
        font-weight: 600;
        color: #fff;
        line-height: 0.8;
        font-size: 20px;

        align-items: justify !important;
        justify-content: center !important;
    }

    .heroes-text-p {
        font-weight: 500;
        color: #fff;
        line-height: 1.1;
        font-size: 15px;
        align-items: justify !important;
        justify-content: center !important;

    }


    .vector-icon {
        margin-top: 190px;
        width: 480px;

    }

    .vector-icon-pertanian {

        width: 23px;
        margin-left: 70px;
    }

    .vector-icon-perkebunan {

        width: 27px;
        margin-left: 30px;
    }

    .vector-icon-industri {

        width: 23px;
        margin-left: 30px;
    }

    .vector-icon-perdagangan {
        /* margin-top: 300px !important; */
        width: 30px;
        margin-left: 30px;
    }


    .vector-icon-energi {
        /* margin-top: 300px !important; */
        width: 23px;
        margin-left: 30px;
    }

}

@media (min-width:375px) and (max-width:411px) {

    .container-vector-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        /* margin-top: 50px; */

        margin: 140px 0px 0px 35px;
    }

    .heroes-img {
        width: 300px !important;

    }

    .heroes-title {
        font-weight: 600;
        color: #fff;
        line-height: 1.1;
        font-size: 35px;

    }

    .heroes-text {
        font-weight: 600;
        color: #fff;
        line-height: 0.8;
        font-size: 20px;

        align-items: justify !important;
        justify-content: center !important;
    }

    .heroes-text-p {
        font-weight: 500;
        color: #fff;
        line-height: 1.1;
        font-size: 15px;
        align-items: justify !important;
        justify-content: center !important;

    }


    .vector-icon {
        margin-top: 120px;
        width: 380px;

    }

    .vector-icon-pertanian {

        width: 23px;
        margin-left: 30px;
    }

    .vector-icon-perkebunan {

        width: 29px;
        margin-left: 30px;
    }

    .vector-icon-industri {

        width: 23px;
        margin-left: 30px;
    }

    .vector-icon-perdagangan {

        width: 29px;
        margin-left: 30px;
    }


    .vector-icon-energi {
        width: 23px;
        margin-left: 30px;
    }

}




.aboutus {
    font-weight: 400;
    color: #8A5026;
}

.aboutus-p {
    font-weight: 500;
    font-size: 18px;
    color: #000;

}

.judul {
    font-weight: 600;
    color: #000;
    text-align: center;
}

.card {
    width: 100%;
    background-color: #1f1f1f;
}

.card-customer {
    background-color: #f5f5f5;
    align-items: center;

}

.card-title-visi {
    font-weight: 600;
    color: #E48600;
    padding-top: 1.8rem;
    padding-left: 1.5rem;
}

.card-title-misi {
    font-weight: 600;
    color: #E48600;
    padding-top: 1.8rem;
    padding-right: 1.5rem;
    text-align: right;
}




/* }style={{fontWeight:'400',color:'black',marginLeft:'3rem',marginRight:'2rem'}} */
.box {
    padding-top: 5rem;
    padding-bottom: 2rem;

}

.box-customer {
    padding-top: 12rem;
    padding-bottom: 10rem;
}

.grid-row1 {

    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.grid-row2 {

    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.grid-row3 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4rem;
}

.grid-column {
    width: 50%;
    text-align: center;
    align-self: center;

    flex-direction: row;
}

.service-text {
    align-items: flex-start;
    display: block;
    color: BLACK;
    font-weight: bold;
    flex-direction: column;
    font-size: 16px;
}

.judul-service {
    font-weight: 600;
    color: #8A5026;
    text-align: center;
}

.whyus-title {
    font-weight: 400;
    color: white;
}

.whyus-p {
    text-align: left;
    color: #000 !important;
    font-size: 18px;
    font-weight: 400;
    margin-left: 2rem;
    margin-top: 1rem;
}

.whyus {
    padding-top: 3rem;
    padding-bottom: 5rem;


}

.carousels {
    padding-top: 4rem;

    padding-bottom: 4rem;
}

.image-carousel {
    width: 1110px !important;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footer-iota {
    padding: 0 4rem 0 4rem !important;
}

img.service-logo {
    max-width: 8rem;

}

img.service-logo-more {
    max-width: 8rem;
    height: 8rem;
}

.card-title-customer {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: #E48600;
    padding-bottom: 2rem;
}

.grid-row-custom1 {
    display: flex;
    flex-wrap: wrap;

}

.grid-column-custom {
    width: 20%;
    text-align: center;
    align-self: center;

}

/* .contact-us{
    background-color: #FFEACC !important;
} */
.custom-img {

    padding-left: 1rem;
    padding-right: 1rem;
    width: max-content;
}

.footer-page {
    background-color: #FFEACC;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-img {
    color: #000;
    text-align: center;
    font-weight: 600;
}

.footer-row {
    background-color: transparent;
    display: flex;
    flex-direction: row;

}

.footer-col {
    flex-grow: 1;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer-title {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}

.footer-icon {
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.footer-text {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.icon {
    align-self: center;
    padding-right: 1rem;
}

@media (min-width:769px) {
    .service-item {
        display: flex;
        flex-direction: row;
        align-items: left;
        border-radius: 30px;

    }

    .card-service {
        display: flex;
        flex-direction: row;
    }

    .card-service img {
        width: 170px;
        height: 170px;
    }

    .card-text {
        font-size: 20px !important;
        font-weight: bold;
        color: #3A2D80 !important;
        padding-left: 2rem;
        line-height: 0.8;
        /* margin-bottom: 20px; */
    }

    .card-jabatan {
        font-size: 18px !important;
        font-weight: bold !important;
        padding-left: 2rem;
        margin: 0;

    }

    .card-garis {
        margin-top: 10px;
        margin-left: 34px !important;
        margin-right: 0 !important;
    }

    .card-socmed1 {
        margin-top: 10px;
        margin-left: 30px !important;
    }

    .card-socmed {
        margin-top: 10px;
        margin-left: 10px !important;
    }

    .card-button-detail {
        margin-top: 0px;
        margin-left: 230px !important;
        border-radius: 40px;
        font-size: 14px;
        background-color: #3A2D80 !important;
        border-color: #3A2D80 !important;

    }
}

@media (min-width:360px) and (max-width:768px) {
    .service-item {
        display: flex;
        flex-direction: row;
        align-items: left;
        border-radius: 30px;

    }

    .card-service {
        display: flex;
        flex-direction: row;
    }

    .card-service img {
        width: 100px;
        height: 100px;
        margin-top: 28px;
    }

    .card-text {
        font-size: 15px !important;
        font-weight: bold;
        color: #3A2D80 !important;
        padding-left: 2rem;
        line-height: 0.8;
        /* margin-bottom: 20px; */
    }

    .card-jabatan {
        font-size: 13px !important;
        font-weight: bold !important;
        align-items: justify;
        padding-left: 2rem;
        margin: 0;

    }

    .card-garis {
        margin-top: 10px;
        padding: 0 17px;
        margin-left: 16px !important;
        margin-right: 0 !important;
        width: 190px;
    }

    .card-socmed1 {
        margin-top: 10px;
        margin-left: 35px !important;
    }

    .card-socmed {
        margin-top: 10px;
        /* padding: 0 10px; */
        margin-left: 10px !important;
    }

    .card-button-detail {
        margin-top: 20px;
        margin-left: 110px !important;
        border-radius: 40px;
        font-size: 14px;
        background-color: #3A2D80 !important;
        border-color: #3A2D80 !important;
    }
}



@media (min-width:769px) {
    .card-system img {
        width: 600px;
        border-radius: 10px;
    }
}

@media (min-width:360px) and (max-width:769px) {
    .card-service img {
        width: 100px;
        height: 100px;
        margin-top: 28px;
    }
}

@media (min-width:769px) {
    .riau img {
        /* style={{ width: 18, position: "absolute", marginTop: 278, marginLeft: 180 }} */
        width: 18px;
        position: absolute;
        margin-top: 278px;
        margin-left: 180px;
    }

    .lampung img {
        /* style={{ width: 18, position: "absolute", marginTop: 358, marginLeft: 232 }} */
        width: 18px;
        position: absolute;
        margin-top: 358px;
        margin-left: 232px;
    }

    .jawa-barat img {
        width: 18px;
        position: absolute;
        margin-top: 408px;
        margin-left: 292px;
    }

    .jawa-tengah img {
        width: 18px;
        position: absolute;
        margin-top: 416px;
        margin-left: 360px;
    }

    .jawa-timur img {
        width: 18px;
        position: absolute;
        margin-top: 425px;
        margin-left: 404px;
    }

    .kalimantan-tengah img {
        width: 18px;
        position: absolute;
        margin-top: 300px;
        margin-left: 430px;
    }

    .sulawesi-tengah img {
        width: 18px;
        position: absolute;
        margin-top: 275px;
        margin-left: 635px;
    }

    .papua-barat img {
        width: 18px;
        position: absolute;
        margin-top: 275px;
        margin-left: 910px;
    }
}

@media (min-width: 360px) and (max-width:389px) {
    .riau img {
        /* style={{ width: 18, position: "absolute", marginTop: 278, marginLeft: 180 }} */
        width: 8px;
        position: absolute;
        margin-top: 140px;
        margin-left: 50px;
    }

    .lampung img {
        /* style={{ width: 18, position: "absolute", marginTop: 358, marginLeft: 232 }} */
        width: 8px;
        position: absolute;
        margin-top: 162px;
        margin-left: 68px;
    }

    .jawa-barat img {
        width: 8px;
        position: absolute;
        margin-top: 178px;
        margin-left: 86px;
    }

    .jawa-tengah img {
        width: 8px;
        position: absolute;
        margin-top: 180px;
        margin-left: 105px;
    }

    .jawa-timur img {
        width: 8px;
        position: absolute;
        margin-top: 183px;
        margin-left: 120px;
    }

    .kalimantan-tengah img {
        width: 8px;
        position: absolute;
        margin-top: 140px;
        margin-left: 128px;
    }

    .sulawesi-tengah img {
        width: 8px;
        position: absolute;
        margin-top: 135px;
        margin-left: 190px;
    }

    .papua-barat img {
        width: 8px;
        position: absolute;
        margin-top: 148px;
        margin-left: 275px;
    }

}

.vm-border {
    outline: 2px solid #E48600;
}

.wu-border {
    outline: 2px solid #E48600;
}

.judul-footer {
    font-weight: 600;
    color: #000;
    text-align: center;
}


.job-title {
    color: #1f1f1f;
    font-weight: bold;
}

.input-group {
    position: relative;

    border-bottom: 2px solid #ccc;
}

.footer-credits {
    color: #000;
    font-weight: 400;
}

/* Button */
.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
}

.delicious-btn.active,
.delicious-btn:hover,
.delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1c8314;
    border-color: #40ba37;
}

.vector {
    position: absolute;
    margin-top: 500px;
}

.flex-container {
    display: flex;
    /* Make it a flex container */
    justify-content: center;
    /* Center its children horizontally */
    align-items: center;
    /* Center its children vertically (optional) */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 125px 0px 0px 420px;
}

/* Additional styles for .flex-container if needed */
.flex-container img {
    margin-right: 150px;

}

.ceo-image img {
    width: 1513px !important;
}

/* komoditi */
@media (min-width: 769px) {
    .komoditi-title h2 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;

    }

    .komoditi-title span {
        color: #3A2D80;
        align-items: justify;
        /* font-size: 30px !important; */
    }

    .komoditi-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .komoditi-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

@media (min-width: 360px) and (max-width:768px) {


    .komoditi-title h2 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .komoditi-title span {
        color: #3A2D80;
    }

    .komoditi-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .komoditi-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }

}

@media (min-width: 769px) {
    .container-ceo {
        line-height: 0.8;
    }
    .profile-title h1 {
        margin-top:200px;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .profile-title span {
        color: #3A2D80;
    }

    .profile-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .profile-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ceo-title h1 {
        margin-top:auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .ceo-title span {
        color: #3A2D80;
    }

    .ceo-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .ceo-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .ceo-sambutan img {
        width: 1513px !important;
    }

    .bg-sambutan {
        width: 1520px !important;
        position: absolute;

    }


    .cont-item-sambutan {

        color: #f5f5f5;
    }


    .item-sambutan-text {

        height: 670px;
        margin-left: 20px;
        max-width: 600px;
        position: relative;
        align-items: justify;
    }

    .item-sambutan-text-mar {

        font-size: 30px;
        font-weight: bold;
        margin-left: 180px;

    }

    .item-sambutan-text-jab {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        margin-left: 195px;

    }

    .item-sambutan-text-com {
        margin-top: 10px;
        font-size: 18px;
        margin-left: 160px;
        margin-bottom: 20px;

    }

    .par-satu {
        font-weight: 500;
        margin-bottom: 10px;
        text-align: justify;
        line-height: 2.5;

    }

    .item-sambutan-img {
        padding: 2px;
        /* background-color: #E48600; */
        width: 740px;
        position: relative;
    }
}

@media (min-width: 360px) and (max-width:389px) {
    .container-ceo {
        line-height: 0.8;
    }
    .profile-title h1 {
        margin-top: 100px;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .profile-title span {
        color: #3A2D80;
    }

    .profile-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .profile-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }
    .ceo-title h1 {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        line-height: 0.8;
        color: #000;
    }

    .ceo-title span {
        color: #3A2D80;
    }

    .ceo-title h4 {
        font-weight: 600;
        text-align: center;
        color: #757575 !important;
        font-size: 25px;
        margin-top: 15px;
    }

    .ceo-title img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
    }

    .ceo-sambutan img {
        width: 360px !important;
    }

    .bg-sambutan {
        width: 370px !important;
        height: 440px;
        position: absolute;

    }

    .cont-item-sambutan {

        color: #f5f5f5;
    }

    .item-sambutan-text {

        height: 345px;
        margin-left: 9px;
        max-width: 300px;
        position: relative;
        align-items: justify;
    }

    .item-sambutan-text-mar {
        font-size: 12px;
        font-weight: bold;
        margin-left: 25px;

    }

    .item-sambutan-text-jab {
        margin-top: 4px;
        font-size: 10px;
        font-weight: bold;
        margin-left: 25px;

    }

    .item-sambutan-text-com {
        margin-top: 4px;
        margin-bottom: 3px;
        font-size: 10px;
        margin-left: 10px;

    }

    .item-sambutan-text p{
        margin-top: 5px;
        font-size: 7px;
    }

    .par-satu {
        font-size: 10px;
        margin-bottom: 3px;
        text-align: justify;
        line-height: 1.3;

    }

    .item-sambutan-img {
        /* padding: 2px; */
        /* background-color: #E48600; */
        width: 740px;
        position: relative;
    }

}

/* .container-ceo {
    line-height: 0.8;
}

.ceo-title h1 {
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 0.8;
    color: #000;
}

.ceo-title span {
    color: #3A2D80;
}

.ceo-title h4 {
    font-weight: 600;
    text-align: center;
    color: #757575 !important;
    font-size: 25px;
    margin-top: 15px;
}

.ceo-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
} */


#section-service {
    width: 100%;
}

.profile-modal-name {
    font-size: medium;
    font-weight: bold;
}

.profile-modal-jabatan {
    font-size: smaller;
    font-weight: bold;
    text-align: center !important;
    margin-left: 28px;
}

.socmed-modal {

    margin-right: 367px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

@media (min-width: 769px) {
    .garis-our-program img {
        margin-top: 10px;
        margin-left: 320px;
        margin-bottom: 20px;
    }

}


@media (min-width: 360px) and (max-width:768px) {

    .garis-our-program img {
        margin-left: 40px;
        width: 250px;
    }
}

@media (min-width: 769px) {
    .garis-proyek img {
        margin-top: 10px;
        margin-left: 280px !important;
        width: 550px;
    }

}


@media (min-width: 360px) and (max-width:768px) {

    .garis-proyek img {
        margin-top: 10px;
        margin-left: 40px;
        width: 250px;
    }
}

/* garis-pulau */

@media (min-width: 769px) {
    .garis-pulau img {
        margin-top: 10px;
        margin-left: 280px !important;
        width: 550px;
        margin-bottom: 20px;
    }

}


@media (min-width: 360px) and (max-width:768px) {

    .garis-pulau img {
        /* margin-top: 10px; */
        margin-bottom: 10px;
        margin-left: 40px;
        width: 250px;
    }
}

@media (min-width: 769px) {
    #section-pulau {
        width: 100%;

    }

    .service-item-pulau {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 30px;

        margin-left: 75px;
        /* margin-right: 70px; */
        width: 18rem;

    }


    .judul-pulau {
        margin-left: 40px;
    }

    .service-item-pulau .card-body {
        /* margin-top: 10px; */
        /* padding: 0 10px; */
        width: 18rem;
    }

    .riaumr {
        /* margin-right: 50; */
        /* width: 500px; */

        width: 150px;
    }

    .lampungml {
        /* margin-left: 80; */
        width: 320px;
    }

    .jabarml {
        /* margin-left: 160; */
        width: 320px;
    }

    .jatimml {
        /* margin-left: 80; */
        width: 320px;
    }

    .kaltengml {
        /* margin-left: 160; */
        width: 320px;
    }


}



@media (min-width: 360px) and (max-width:768px) {

    #section-pulau {
        width: 100%;
    }

    .judul-pulau {
        /* margin-left: 40px; */
        align-items: justify;
    }

    .service-item-pulau {
        /* width: 50%; */
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: left;
        border-radius: 10px;
        margin-bottom: 20px;

    }

    .service-item-pulau .card-body {
        padding: 0;
        /* width: 18rem; */
    }

    .riaumr {

        align-items: flex-end;
        /* margin-left: 20px; */
        width: 100%;
    }

    .lampungml {
        /* margin-left: 40px; */
        align-items: flex-end;
        width: 100%;
    }

    .jabarml {
        /* margin-left: 10px; */
        width: 100%;
    }

    .jatimml {
        /* margin-left: 40; */
        width: 100%;
    }

    .kaltengml {
        /* margin-left: 80; */
        width: 100%;
    }


}


@media (min-width: 769px) {
    .news {
        margin-top: auto;
    }

    .poster-news {
        margin-left: 295px;
    }


}


@media (min-width: 360px) and (max-width:411px) {
    .news {
        margin-top: auto;
    }

    .poster-news img {
        margin-left: 38px;
        justify-content: center;

        width: 250px;
        /* margin: 0; */
    }
}


@media (min-width: 769px) {
    .contact-maps {
        width: 430px;
    }


}


@media (min-width: 360px) and (max-width:768px) {

    .contact-maps {
        width: 330px;
    }

}

.section-contact-us {
    background-color: #000;
    display: flex;
    flex-direction: column;
}



@media (min-width: 760px) {
    .container-about {
        /* display: flex; */
        justify-content: justify;
        margin-left: 30px;
        /* margin-top: 10px; */

    }
}


@media (min-width: 360px) and (max-width:750px) {
    .container-about {
        /* display: flex; */
        justify-content: justify;
        margin-left: 30px;
        margin-right: 30px;
        /* margin-top: 10px; */

    }
}

.project-foot {
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: end;
}

.sub-judul {
    font-weight: bold;
    color: #E48600;
}

.h-cont-our {
    margin-top: auto;
    font-weight: bold;
    text-align: center;
    line-height: 0.8;
    color: #E48600;
}

.h-hub {
    font-weight: bold;  
    text-align: center;
    color: white;
}

.h-masi {
    font-weight: 100px !important;
    text-align: center;
    color: white;
}

/* .container-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

@media (min-width: 760px) {
    .container-form {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


@media (min-width: 360px) and (max-width:750px) {
    .container-form {
        flex-direction: row;
        align-items: flex-start;
    }
}


/* our team */


@media (min-width: 760px) {
    .container-card-our {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        margin-right: 50px;
    }

}


@media (min-width: 360px) and (max-width:750px) {
    .container-card-our {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 200px; */
        /* margin-right: 50px; */
    }
}

@media (min-width:769px) {

    .youtube-video iframe {
        width: 1120px !important;
        height: 750px !important;
        border-radius: 20px;
    }

}

@media (min-width:360px) and (max-width:389px) {

    .youtube-video iframe {
        /* margin-left: 10px; */
        justify-content: center;
        width: 330px !important;
        height: 260px !important;
        border-radius: 20px;
    }

}

.h-cont-us {
    margin-bottom: 20px;
    color: #E48600;
    font-weight: bold;

}

.card-our {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 400px;
}

.input-group {
    margin-bottom: 10px;
    box-shadow: none;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #3A2D80;
    border-radius: 16px;
    box-shadow: none;
}

.submit-button {
    background-color: #3A2D80;
    /* Warna ungu */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #3A2D80;
    /* Warna ungu lebih tua saat hover */
}

